.service-expert-container {
  padding: 0 4rem 4rem;
  background-color: #fff;
}

.service-expert-header {
  text-align: center;
  margin-bottom: 3rem;
}

.service-expert-heading {
  margin: 0 0 10px;
  font-size: 3rem;
  color: var(--secondary-color);
}

.service-expert-subheading {
  font-size: 1rem;
  color: var(--tertiary-color);
}

.service-expert-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.service-expert-card {
  position: relative;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  padding: 2rem;
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  transition: ease-in;
}

.service-expert-card:hover{
    border: 1px solid var(--primary-color);
}

.service-expert-experience-badge {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #d3f1e4;
  color: var(--primary-color);
  font-weight: 700;
  padding: 0.4rem 0.9rem;
  border-radius: 50px;
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 1;
  white-space: nowrap;
}

.service-expert-top-row {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-wrap: wrap;
}

.service-expert-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.service-expert-details {
  flex: 1;
  min-width: 150px;
}

.service-expert-name {
  margin: 0 0 5px;
  font-weight: 500;
  color: var(--secondary-color);
}

.service-expert-role,
.service-expert-location {
  font-size: 0.85rem;
  color: var(--tertiary-color);
  margin: 0.2rem 0;
}

.service-expert-description {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--tertiary-color);
}

.service-expert-skills {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.service-expert-skill {
  background-color: #d3f1e4;
  color: var(--primary-color);
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 500;
}
